@import './base.css';

#app {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--txt-color);
  transition: 0.4s;
  padding: 3px;
}

.link {
  font-size: 1.5em;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

section {
  width: 100%;
  height: 100%;
  padding: 4em 0 1% 0;
  scroll-snap-align: start;
  overflow: hidden;
  & .wraper-content {
    text-align: center;
    position: relative;
    height: 97%;
    background-color: var(--bg-content);
    border-radius: 15px;
    margin: 5px auto;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    border: 1px solid hsla(0, 0%, 45%, 0.5);
    & .title {
      font-weight: 700;
      font-size: 4em;
      margin: 5px;
    }
    & .sub-title {
      margin: 5px;
      font-size: 2em;
      letter-spacing: 4px;
    }
  }
}

@media (width > 1199px) {
  .wraper-content {
    max-width: 1200px;
  }
}

@media (width < 1199px) {
  section {
    & .wraper-content {
      width: 98%;
      max-width: none;
    }
  }
}

@media (width < 946px) {
  section {
    & .wraper-content {
      & .title {
        font-size: 2em;
      }
      & .sub-title {
        font-size: 1.4em;
        letter-spacing: 2px;
      }
    }
  }
}
